@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-04 17:34:06
 * @version $Id$
 */
/*head begin*/
body,html{width: 100%; height: 100%;}
.head_box{ width: 100%; height: 100%; background:url(../img/back1.jpg) no-repeat;background-size:cover; -float: left;}
.head_img{ width:1200px; height: 650px; margin: 0 auto; position: relative;}
.navbigbox{ width: 100%; height: 80px; background:#828282;opacity: 0.3;box-shadow: 1px 8px 7px #000 }
.nav_position{ position:relative;top:-80px;}
.nav_menu{ width: 1200px; height: 80px; color: #fff; position: absolute; left:50%; margin-left: -600px; top: 0; }
.text_box{ width: 800px; height: 150px; background:- #ccc; position: absolute; left:100px; top: 30%; cursor: pointer;}
.welcon{ font-size:60px; position: absolute; left: 0; top:-160px; color: #fff;opacity:0;text-shadow: 5px 3px 6px #000; cursor: pointer;}
.welcon:hover{transform:translate(4px,-4px); transition:all 0.3s linear;}
.website{ font-size:60px; position: absolute;right: 0; bottom: -160px; color: #fff;opacity: 0;text-shadow: 5px 3px 6px #000;}
.website:hover{transform:translate(4px,4px); transition:all 0.3s linear;}

 .logo_box{position: relative;width:40px; overflow: hidden; height: 80px;  float: left; margin-top: 6px;}
 .logo_box li{ width: 20px; height: 10px; background: #000; list-style: none; position: absolute;}
.leftone{left:-20px; top: 0;}
.lefttwo{left:-20px;top:20px;}
.leftthree{left:-20px; top: 40px;}
.leftfour{left:-20px;top:60px;}
.rightone{left: 20px; top:-14px;}
.rightwo{left: 20px; top:-14px; background: url(../img/logoone.png);box-shadow: none;}

.nav_btnbox{float: left;-background: #fff; width:1000px; height: 80px;margin-left: 100px; cursor: pointer;}
.nav_btnbox>div{margin:10px 0; font-size: 26px;- font-weight: bold; line-height: 60px; width: 210px; float: left; margin-right: 20px; font-family:'STSong' ;opacity: 0;}
.nav_btnbox>div a{opacity: 0.4;color: #000;}
.html_icon{width:60px; height: 60px; display:inline-block; background: url(../img/html.png)no-repeat;}
.js_icon{width:60px; height: 60px; display:inline-block; background: url(../img/js.png)no-repeat;}
.hfive_icon{width:60px; height: 60px; display:inline-block; background: url(../img/htnl5.png)no-repeat;}
.myself_icon{width:60px; height: 60px; display:inline-block; background: url(../img/myself.png)no-repeat;}
 /*head end*/


 /*main begin*/
 .main_box{ height: 500px; background: #EEE9E9;background:url(../img/back4.jpg) no-repeat;background-size:cover;}
 .pro_bar{height:2px;}
 .pro_bar span{height:2px; background: #fff; display: block; width: 500px;}
 .skillbox{ width:1200px;background: #fff; margin: 0 auto; height: 300px; position: relative;overflow: hidden; }
 .skillbox div{ width:299px; height: 300px;- background: #ccc; float: left; border-right:1px solid #ccc; position: absolute; }
 .ski_lone{left:-299px;background: red;}
 .ski_ltwo{left:299px; top:-299px; background:blue;}
 .ski_rone{right:-299px; background:green;}
 .ski_rtwo{right: 299px; bottom:-299px; background: #000;}
 /*main end*/